{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <!-- jumbotron-fluid for full page-->

    <div class="jumbotron">
         <h4>Who We Are</h4>

            <p class="lead">
                    Our story started in 2018, hinging strongly on the fact that the world was changing too rapidly for the students to just rely on classroom education. In order to develop students to be battle ready for the life after college, a sustained mechanism was needed which would educate them beyond books. The need of the hour was experiential learning. Thus was born Industrialvisits.in The central idea of our story is to help students make a successful story for themselves. We are here to expedite your success! <br><br>

                    We have a firm belief on the positive imprint, that EDUCATION TOURISM will make on the aptitude and attitude of a student. To complement the conventional way of theoretical learning, we introduced the concept of learning through first hand experience in the relevant field and by being on the field.
                    <br><br>
                    Our industry programs interaction with executives from corporate world are planned in synchronization with the theoretical curriculum. The "IV LEARNING WORKSHEET" is prepared by highly experienced educators with the goal of igniting the passion in the student and give basic working knowledge in his/her field.

                    </p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Read more &raquo;
                        </a>

                        <!-- <p class="lead">
                                <a class="btn btn-cyan btn-lg" href="#" role="button">Read more</a>
                        </p> -->

                <!--Jumbotron-->
                <!-- <div class="jumbotron">

                    <h1 class="h1-reponsive mb-3 blue-text"><strong>Hello, world!</strong></h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                        to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.
                    </p>
                    <p class="lead">
                        <a class="btn btn-cyan btn-lg" href="#" role="button">Learn more</a>
                    </p>

                </div> -->
                <!--Jumbotron-->
    </div>

  <!-- Google's Material Design -->
    <!-- <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="https://materializecss.com/images/sample-1.jpg">
                  <span class="card-title">Card Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>    -->

<!-- Material Design Card - For Blog Post Article *------>
     <div class="wrapper">

    		<div class="card radius shadowDepth1">
    			<div class="card__image border-tlr-radius">
    				<img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

    			<div class="card__content card__padding">
                    <div class="card__share">
                        <div class="card__social">
                            <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                        </div>

                        <a id="share" class="share-toggle share-icon" href="#"></a>
                    </div>

    				<!-- <div class="card__meta">
    					<a href="#">Web Design</a>
                        <time>26th November</time>
    				</div> -->

    				<article class="card__article">
	    				<h2><a href="#">Blog Post Articles</a></h2>

	    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
	    			</article>
    			</div>

    			<div class="card__action">

    				<div class="card__author">
    					<img src="http://lorempixel.com/40/40/sports/" alt="user">
    					<div class="card__author-content">
    						By <a href="#">John Doe</a>
    					</div>
    				</div>
    			</div>
    		</div>

            <!-- <p class="text-center">Created By <a href="http://github.com/rajvijen">Vijen</a>
            </p> -->
    	</div>
        <!-- ------------------------- -->
    <div>
        <footer>
            <p>&copy; Company 2018-2019</p>
        </footer>

    </div>

{% endblock content %}
